.cadastre-se {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        text-align: center;
        font-size: 30px;

        +below('xs') {
            font-size: 24px;
        }
    }
}
.cadastre-se-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    +below('xs') {
        flex-direction: column;
        span {
            margin: 20px 0 !important;
        }
    }
}