flex-version = flex
support-for-ie = true
vendor-prefixes = official

@import 'nib'
@import 'rupture'
@import 'jeet'

rupture.scale =        0        320px       480px       768px       1024px     1440px
//                     └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘ └────┬────
// Slice numbers:           1           2           3           4           5           6
rupture.scale-names =      'xxs'       'xs'        'sm'        'md'        'lg'        'hd'

global-reset()

@-ms-viewport{
    width: device-width;
}

@import "_definitions/*";
@import "_elements/*";
