@font-face {
    font-family: 'Intro';
    src: url('../fonts/IntroBoldItalic.woff2') format('woff2'),
        url('../fonts/IntroBoldItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Intro';
    src: url('../fonts/IntroRegular.woff2') format('woff2'),
        url('../fonts/IntroRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Intro';
    src: url('../fonts/IntroRegularItalic.woff2') format('woff2'),
        url('../fonts/IntroRegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Intro';
    src: url('../fonts/IntroBold.woff2') format('woff2'),
        url('../fonts/IntroBold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Intro';
    src: url('../fonts/IntroLight.woff2') format('woff2'),
        url('../fonts/IntroLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Intro';
    src: url('../fonts/IntroLightItalic.woff2') format('woff2'),
        url('../fonts/IntroLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

